body {
    font-size: 1.5rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #CADCFC;
    color: #00246B;
}

ul {
    /* list-style-type: none; */
    padding: 0;
    margin: 0;
}

ul#target {
    margin-left: 47%;
    text-align: left;
}

ol {
    margin-left: 47%;
    text-align: left;
}

li {
    padding: 0.3rem 0;
}

.navitem {
    display: inline-block; 
    padding: 0.3rem 10%;
}

#assignment {
    margin: 2rem 0;
}

#startButton {
    background-color: #04AA6D;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 15px 32px;
    text-align: center;
  }

#startButton:hover {
    background-color: #058556;
    cursor:pointer;
}